@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

.mapContainer {
  height: 500px;
  width: 500px;
  background-color: rgb(214, 214, 247);
}

.map {
  height: 100%;
}
